body{
    background-image: url("paisagem.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div{
    color: #ffffff;
    margin-top: 15%;
    text-align: center;
}

button{
    padding: 1% 5% 1% 5%;
    cursor: pointer;
}

button:hover{
    transition: 1.5s;
    transform: rotate();
    background-color: rgb(234, 255, 43);
}

